<mat-toolbar id="categories">
    <ul>
        <li class="cat">
            <a href="">FURNITURE</a>
        </li>
        <li class="cat">
            <a href="">SEATING</a>
        </li>
        <li class="cat">
            <a href="">BEDROOM</a>
        </li>
        <li class="cat">
            <a href="">HOME DECOR</a>
        </li>
        <li class="cat">
            <a href="">FURNISHINGS</a>
        </li>
        <li class="cat">
            <a href="">DINING</a>
        </li>
        <li class="cat">
            <a href="">KITCHEN</a>
        </li>
        <li class="cat">
            <a href="">LIGHTING</a>
        </li>
    </ul>
</mat-toolbar>