<mat-toolbar id="categories">
    <ul>
        <li class="cat">
            <a href="">FURNITURE</a>
        </li>
        <li class="cat">
            <a href="">SEATING</a>
        </li>
        <li class="cat">
            <a routerLink="./bedroom">BEDROOM</a>
        </li>
        <li class="cat">
            <a href="">HOME DECOR</a>
        </li>
        <li class="cat">
            <a href="">LIVING</a>
        </li>
        <li class="cat">
            <a href="">DINING</a>
        </li>
        <li class="cat">
            <a href="">KITCHEN</a>
        </li>
        <li class="cat">
            <a routerLink="./lighting">LIGHTING</a>
        </li>
    </ul>
</mat-toolbar>