<div class="row">
  <div class="column">
    <h2> Cart </h2>
    @for (item of items; track item) {
      <app-product-card [item]="item" [isCart]="true"></app-product-card>

    <!-- <mat-card class="product-card">
      <mat-card-header style="flex-direction: column">
        <mat-card-title-group>
           
          <mat-card-title>{{ item.name }}</mat-card-title>
          <mat-card-subtitle>{{ item.category }}</mat-card-subtitle>
       
          <img
            mat-card-sm-image
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          />
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
       <div style="font-size: larger; font-weight: bolder; ">${{ item.price }}</div>  <br> 
        <div style="font-size: smaller;">{{ item.description }} </div>
      </mat-card-content>

      <div class="quantity-area">
        <mat-form-field class="quantity-select">
            <mat-label >Quantity</mat-label>
            <select matNativeControl required>
            @for (i of giveRange(item.stock); track i) {
              <option value="{{i}}">{{i}}</option>
            }
            </select>
          </mat-form-field>
          <button class="trash-button" mat-fab color="warn" aria-label="Example icon button with a delete icon">
            <mat-icon>delete</mat-icon>
          </button>
      </div>



    </mat-card> -->
    }
  </div>
  <div class="column order-div">
    <h2> Order Details </h2>
    <!-- <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Zip Code</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi">
      </mat-form-field>

      </form> -->
    <button mat-button color="primary">Apply Coupon</button>
    <p>Your discount is 10%</p>

    <mat-card>
      <mat-card-content>
        <div class="row">
          <div class="column"> Items In Cart </div>
          <div class="column"> 37 </div>
        </div>
        <div class="row">
          <div class="column"> Cart Total Price </div>
          <div class="column"> 17,343 </div>
        </div>
        <div class="row">
          <div class="column"> You Saved </div>
          <div class="column"> 14,920 </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
