<div class="row">
  <div class="column">
    <h2> Cart </h2>
    @for (item of cart; track cart) {
    <mat-card class="product-card">
      <mat-card-header style="flex-direction: column">
        <mat-card-title-group>
          <mat-card-title>{{ item.product.name }}</mat-card-title>
          <mat-card-subtitle>{{ item.product.category }}</mat-card-subtitle>
          <img mat-card-sm-image [src]="'http://localhost:8000/product-images/' + item.product.sku + '.jpg'" />
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <div style="font-size: larger; font-weight: bolder">${{ item.product.price }}</div>
        <br />
        <div style="font-size: smaller">{{ item.product.descr}}</div>
      </mat-card-content>

      <div class="quantity-area">

        <div class="quantity">
          <section
            style="margin-right: 1rem;font-weight: bold;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
            Quantity :</section>
          <button mat-raised-button (click)="changeQuantity(item, -1)">-</button>
          <div>{{item.quantity}}</div>
          <button mat-raised-button (click)="changeQuantity(item, 1)">+</button>
        </div>

        <button class="trash-button" mat-fab color="warn" aria-label="delete icon button"
          (click)="removeFromCart(item.product.sku)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>

    </mat-card>
    }
  </div>
  <div class="column order-div">
    <h2> Order Details </h2>

    <button mat-button color="primary">Apply Coupon</button>
    <p>Your discount is 10%</p>

    <mat-card>
      <mat-card-content>
        <div class="row">
          <div class="column"> Items In Cart </div>
          <div class="column"> {{getTotalItems()}}</div>
        </div>
        <div class="row">
          <div class="column"> Cart Total Price </div>
          <div class="column">${{getTotalPrice()}} </div>
        </div>
        <!-- <div class="row">
          <div class="column"> You Saved </div>
          <div class="column"> 14,920 </div>
        </div> -->
      </mat-card-content>
      <button mat-raised-button style="background-color: greenyellow;" (click)="checkout()">Checkout</button>
    </mat-card>

  </div>
</div>