<div class="row">
  <div class="column">
    <h2> Cart </h2>
    @for (item of items; track item) {
    <mat-card class="product-card">
      <mat-card-header style="flex-direction: column">
        <mat-card-title-group>
           
          <mat-card-title>{{ item.name }}</mat-card-title>
          <mat-card-subtitle>{{ item.category }}</mat-card-subtitle>
       
          <img
            mat-card-sm-image
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          />
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        {{ item.description }}
        ${{ item.price }}
      </mat-card-content>

      <div class="quantity-area">
        <mat-form-field class="quantity-select">
            <mat-label >Quantity</mat-label>
            <select matNativeControl required>
            @for (i of giveRange(item.stock); track i) {
              <option value="{{i}}">{{i}}</option>
            }
            </select>
          </mat-form-field>
          <button class="trash-button" mat-fab color="warn" aria-label="Example icon button with a delete icon">
            <mat-icon>delete</mat-icon>
          </button>
      </div>



    </mat-card>
    }
  </div>
  <div class="column">
    <h2> Order Details </h2>
  </div>
</div>
