#rootdiv{
    /* display:flex; */
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
}
app-categories{
    width:100%;
}







/* .logo {
    color: white; 
}

.category-picture :hover {
    opacity: 0.5;
}
.category-picture :hover {
    z-index: 8;
}
.text{
    opacity: 1;
} */