a {
    color: white;
    margin: 1em;
    text-decoration: none;
}

.navbar-span {
    margin: auto;
    padding: auto;
}

nav {
    background-color: blueviolet;
    padding: 1em;
    align-items: center;
    display: flex;
}

.logo {
    color: white; 
}

.category-picture :hover {
    opacity: 0.5;
}
.category-picture :hover {
    z-index: 8;
}
.text{
    opacity: 1;
}