<!-- <nav col>
  <div class="logo">chandra.exe</div>
  <div class="navbar-span">
    <a routerLink="./bedroom">Bedroom</a>
    <a routerLink="./lighting">Lighting</a>
  </div>
</nav>



<table border="1" style="margin-left: 25vw;">
  <tr>
    <th>UserID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Address</th>
    <th>Cart</th>
    <th>Wishlist</th>
  </tr>
  <tr *ngFor="let item of items">
    <td>{{item.email}}</td>
    <td>{{item.firstName}}</td>
    <td>{{item.lastName}}</td>
    <td>{{item.address}}</td>
    <td>{{item.cartData}}</td>
    <td>{{item.wishListData}}</td>
  </tr>
</table> -->
<!-- 
<mat-grid-list cols="3" rowHeight="1:1">
  <mat-grid-tile *ngFor="let category of categories">    
    <a routerLink="{{routerPath(category[0])}}" class="category-picture text">{{category[0]}}<img src="{{category[1]}}" ></a>
  <mat-grid-tile *ngFor="let category of categories">    
    <a routerLink="{{routerPath(category[0])}}" class="category-picture text">{{category[0]}}<img src="{{category[1]}}" ></a>
  </mat-grid-tile>
</mat-grid-list>--- -->

<div id="Header">
  <mat-toolbar id="nav_1">
    <ul id="nav_list_1">
      <li class="nav_item_1">
        <a href="" class="nav_anchor_1">SELL ON FURNITURE CLOUD</a>
      </li>
      <li class="nav_item_1">
        <a href="" class="nav_anchor_1">BUY IN BULK</a>
      </li>
      <li class="nav_item_1">
        <a href="" class="nav_anchor_1">TRACK YOUR ORDER</a>
      </li>
      <li class="nav_item_1"><a href="" class="nav_anchor_1">CONTACT US</a></li>
    </ul>
  </mat-toolbar>

  <section class="main">
    <form action="" id="search">
      <input type="text" [placeholder]="placeholder" />
      <button mat-button>
        <img src="../assets/search.svg" alt="" />
      </button>
    </form>

    <div class="title">Furniture Cloud</div>
    <div class="icons">
      <div id="login">Login <img src="../assets/login.svg" alt="" /></div>
      <div id="wishlist">
        Wishlist <img src="../assets/wishlist.svg" alt="" />
      </div>
      <div
        [matBadge]="cartLength"
        matBadgeOverlap="false"
        id="cart"
        (click)="addToCart()"
      >
        Cart <img src="../assets/cart.svg" alt="" />
      </div>
    </div>
  </section>
</div>

<router-outlet></router-outlet>
<div id="Footer"></div>
