<!-- <nav col>
<!-- <nav col>
  <div class="logo">chandra.exe</div>
  <div class="navbar-span">
    <a routerLink="./bedroom">Bedroom</a>
    <a routerLink="./lighting">Lighting</a>
  </div>
</nav>

<table border="1" style="margin-left: 25vw">
  <tr>
    <th>UserID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Address</th>
    <th>Cart</th>
    <th>Wishlist</th>
    <th>UserID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Address</th>
    <th>Cart</th>
    <th>Wishlist</th>
  </tr>
  <tr *ngFor="let item of items">
    <td>{{ item.email }}</td>
    <td>{{ item.firstName }}</td>
    <td>{{ item.lastName }}</td>
    <td>{{ item.address }}</td>
    <td>{{ item.cartData }}</td>
    <td>{{ item.wishListData }}</td>
  </tr>
</table> -->
<!-- 
<!-- 
<mat-grid-list cols="3" rowHeight="1:1">
  <mat-grid-tile *ngFor="let category of categories">    
    <a routerLink="{{routerPath(category[0])}}" class="category-picture text">{{category[0]}}<img src="{{category[1]}}" ></a>
  <mat-grid-tile *ngFor="let category of categories">    
    <a routerLink="{{routerPath(category[0])}}" class="category-picture text">{{category[0]}}<img src="{{category[1]}}" ></a>
  <mat-grid-tile *ngFor="let category of categories">    
    <a routerLink="{{routerPath(category[0])}}" class="category-picture text">{{category[0]}}<img src="{{category[1]}}" ></a>
  </mat-grid-tile>
</mat-grid-list>--- -->

<div id="rootdiv">
  <app-header></app-header>

  <div id="page-area" >
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>
