<div class="row">
    <div>
        <form (ngSubmit)="onSubmitLogin()" #loginForm="ngForm">
            <div class="col-4">
                <label class="form-label" for="loginName">Username</label>
                <input class="form-control" type="email" id="loginName" name="login" [(ngModel)]="login" />
                
            </div>
            <div class="col-4">
                <label class="form-label" for="loginPassword">Password</label>
                <input class="form-control" type="password" id="loginPassword" name="login" [(ngModel)]="password" />
                
            </div>
            <button color="primary" type="submit" class="" mat-raised-button >Sign In</button>
        </form>
    </div>
</div>

<div class="row">
    <p>Don't Have An Account? Sign Up Here!</p>
    <button color="accent" type="submit" class="" mat-raised-button routerLink="./register">Sign Up</button>
</div>