<div *ngIf="!isLoggedIn()">

    <div class="row">
        <h2 style="border-bottom: solid; border-color: peachpuff;">LOGIN</h2>
        <div>
            <form (ngSubmit)="onSubmitLogin()" #loginForm="ngForm">
                <div class="col-4">
                    <label class="form-label" for="loginName">Username</label>
                    <input class="form-control" type="email" id="loginName" name="login" [(ngModel)]="email" />

                </div>
                <div class="col-4">
                    <label class="form-label" for="loginPassword">Password</label>
                    <input class="form-control" type="password" id="loginPassword" name="login"
                        [(ngModel)]="password" />

                </div>
                <button color="primary" type="submit" class="" mat-raised-button>Sign In</button>
            </form>
        </div>
    </div>

    <div *ngIf="!isLoggedIn() && clicked" class="row" style="color: red;">
        Invalid Email/Password
    </div>


    <div class="row">
        <p>Don't Have An Account? Sign Up Here!</p>
        <button color="accent" type="submit" class="" mat-raised-button routerLink="/register">Sign Up</button>
    </div>
</div>
<div *ngIf="isLoggedIn()">
    <div class="row">
        <p>Logged in as {{user.firstName}}</p>
        <button color="warn" type="submit" mat-raised-button (click)="logout()">Logout</button>
    </div>
</div>