.quantity-area {
  display: flex;
  justify-content: space-between;
}

.product-card {
  margin: 1em;
  padding: 5px;
  border-width: 1px;
  border: solid;
  border-color: grey;
  border-radius: 25px;
}

.button-div {
  margin: 10px;
  padding: 5px;
}

.button-div button {
  margin-left: 2px;
}

.quantity-select {
  margin-top: 5px;
  padding: 5px;
}
