<mat-toolbar id="categories">
    <ul>
        <li class="cat">
            <a routerLink="./furniture">FURNITURE</a>
        </li>
        <li class="cat">
            <a routerLink="./seating">SEATING</a>
        </li>
        <li class="cat">
            <a routerLink="./bedroom">BEDROOM</a>
        </li>
        <li class="cat">
            <a routerLink="./home-decor">HOME DECOR</a>
        </li>
        <li class="cat">
            <a routerLink="./living">LIVING</a>
        </li>
        <li class="cat">
            <a routerLink="./dining">DINING</a>
        </li>
        <li class="cat">
            <a routerLink="./kitchen">KITCHEN</a>
        </li>
        <li class="cat">
            <a routerLink="./lighting">LIGHTING</a>
        </li>
    </ul>
</mat-toolbar>